fastapi
uvicorn[standard]
pandas
openpyxl
pymupdf
python-jose[cryptography]
passlib[bcrypt]
rapidfuzz
google-generativeai
groq
supabase
pydantic
pydantic-settings
python-multipart
reportlab
slowapi
python-magic
bleach
python-dotenv
